extends ../layouts/app

block content
  h1 Editar Pedido ##{vacation.id}

  form(action=`/vacations/${vacation.id}?_method=PUT` method=`POST`)
    div
      label Tipo : 
      select(name=`leave_type_id` required)
        each leaveType in leaveTypes
          if leaveType.id == vacation.leave_type_id
            option(value=leaveType.id selected)= leaveType.name
          else
            option(value=leaveType.id)= leaveType.name
    div
      label Início: 
      - var start = vacation.start_date ? new Date(vacation.start_date).toISOString().split('T')[0] : ''
      input(type=`date` name=`start_date` value=start required)
    div
      label Fim: 
      - var end = vacation.end_date ? new Date(vacation.end_date).toISOString().split('T')[0] : ''
      input(type=`date` name=`end_date` value=end required)
    
    hr 
    a(href=`javascript:history.back()`, style=`text-decoration:none; border: 1px solid black; padding: 5px; margin-right: 5px;`) ⮜ Voltar
    button(type=`submit`, style=`text-decoration:none; border: 1px solid black; padding: 5px;`) ✔ Submeter