extends ../layouts/app

block content
  h1 Pedidos de Férias
  
  p 
    a(href=`/vacations/create`, style=`border: 1px solid black; border-radius: 5px; padding: 5px 10px; text-decoration: none;`) + Novo Pedido

  if vacations.length
    table(border=`1`, style=`text-align: center; justify-content: center;`)
      thead
        tr
          th ID
          th User
          th Tipo
          th Início
          th Fim
          th Estado
          th Ações
      tbody
        each vacation in vacations
          tr
            td= vacation.id
            td= vacation.user_id
            td= vacation.leave_type_id
            td= new Date(vacation.start_date).toLocaleDateString()
            td= new Date(vacation.end_date).toLocaleDateString()
            td= vacation.status
            td
              a(href=`/users/${vacation.user_id}`, style=`text-decoration: none;`) 👁
              |  | 
              a(href=`/users/${vacation.user_id}/edit`, style=`text-decoration: none;`) ✎
              |  | 
              a(href=`/users/${vacation.user_id}/delete`, onclick=`return confirm('Tem a certeza que deseja eliminar este utilizador?');`, style=`text-decoration: none;`) ✖
  else
    p Sem pedidos.