extends ../layouts/app

block content
  h1 Pedidos de Férias
  
  if currentUser && currentUser.role == "employee"
    p
      a(href=`/vacations/create`, style=`border: 1px solid black; border-radius: 5px; padding: 5px 10px; text-decoration: none;`) + Novo Pedido

  if vacations.length
    table(border=`1`, style=`text-align: center; justify-content: center;`)
      thead
        tr
          th ID
          if currentUser && currentUser.role == "manager"
            th User
          th Tipo
          th Início
          th Fim
          th Estado
          th Ações
          if currentUser && currentUser.role == "manager"
            th Ações Manager
      tbody
        each vacation in vacations
          tr
            td= vacation.id
            if currentUser && currentUser.role == "manager"
              td= vacation.user_name
            td= vacation.leave_type_name
            td= new Date(vacation.start_date).toLocaleDateString()
            td= new Date(vacation.end_date).toLocaleDateString()
            td= vacation.status
            td
              a(href=`/vacations/${vacation.id}`, style=`text-decoration: none;`) 👁
              if vacation.status == "pending" && currentUser && currentUser.role == "employee" && vacation.user_id == currentUser.id
                |  | 
                a(href=`/vacations/${vacation.id}/edit`, style=`text-decoration: none;`) ✎
                |  | 
                form(action=`/vacations/${vacation.id}?_method=DELETE`, method="POST", style="display:inline")  
                  button(type="submit", onclick="return confirm('Tem a certeza que deseja eliminar este pedido de férias?');", style="background:none; border:none; color:blue; cursor:pointer;") ✖
            if currentUser && currentUser.role == "manager"
              td
                if vacation.status == "pending"
                  form(action=`/vacations/${vacation.id}/accept?_method=PUT`, method="POST", style="display:inline")  
                    button(type="submit", style="background:none; border:none; color:green; cursor:pointer;") ✔ Aprovar
                  |  | 
                  form(action=`/vacations/${vacation.id}/reject?_method=PUT`, method="POST", style="display:inline")  
                    button(type="submit", style="background:none; border:none; color:red; cursor:pointer;") ✘ Rejeitar
                else
                  if vacation.status == "approved"
                    span(style="color:green;") ✔ Aprovado
                  else if vacation.status == "rejected"
                    span(style="color:red;") ✘ Rejeitado
  else
    p Sem pedidos.