extends ../layouts/app

block content
  h1 Pedido de Férias ##{vacation.id}

  p
    strong Utilizador (ID):
    | #{vacation.user_id}
  p
    strong Tipo (ID):
    | #{vacation.leave_type_id}
  p
    strong Data Início:
    | #{new Date(vacation.start_date).toLocaleDateString()}
  p
    strong Data Fim:
    | #{new Date(vacation.end_date).toLocaleDateString()}
  p
    strong Estado:
    | #{vacation.status}
    
  hr
  
  h3 Ações (Manager)
  form(action=`/vacations/${vacation.id}/accept` method="POST" style="display:inline")
    button(type="submit") Aprovar
  
  form(action=`/vacations/${vacation.id}/reject` method="POST" style="display:inline")
    button(type="submit") Rejeitar

  hr
  
  h3 Ações (Utilizador)
  a(href=`/vacations/${vacation.id}/edit`) Editar Pedido
  | 
  form(action=`/vacations/${vacation.id}?_method=DELETE` method="POST" style="display:inline")
    button(type="submit" class="btn-danger") Apagar/Cancelar Pedido