extends ../layouts/app

block content
  h1 Detalhe Férias - #{vacation.id}
  
  table(border=`1`, style=`text-align: center; justify-content: center;`)
    thead
      tr
        th ID
        th User ID
        th Tipo de Férias
        th Início
        th Fim
        th Estado
    tbody
      tr
        td= vacation.id
        td= vacation.user_id
        td= vacation.leave_type_id
        td= new Date(vacation.start_date).toLocaleDateString()
        td= new Date(vacation.end_date).toLocaleDateString()
        td= vacation.status
  
  hr
  a(href=`javascript:history.back()`, style=`text-decoration:none; border: 1px solid black; padding: 5px;`) ⮜ Voltar