extends ../layouts/app

block content
  h1 Detalhe: #{leaveType.name}

  table(border=`1`, style=`text-align: center; justify-content: center;`)
    thead 
      tr
        th ID
        th Nome
        th Descrição
        th Máx Dias
    tbody
      tr
        td= leaveType.id
        td= leaveType.name
        td= leaveType.description
        td= leaveType.max_days
  hr
  a(href=`javascript:history.back()`, style=`text-decoration:none; border: 1px solid black; padding: 5px;`) ⮜ Voltar
  a(href=`/leave-types/${leaveType.id}/edit`, style=`text-decoration:none; border: 1px solid black; padding: 5px`) ✎ Editar