extends ../layouts/app

block content
  h1 Editar #{department.name}
  
  form(action=`/departments/${department.id}?_method=PUT` method=`POST`)
    div
      label Nome: 
      input(type=`text` name=`name` value=department.name required)
    div
      label Gerente:
      select(name=`manager_id` required)
        option(value=``) -- Selecionar Gerente --
        each user in managers
          if user.id == department.manager_id
            option(value=`${user.id}` selected)= `${user.name} (ID: ${user.id})`
          else
            option(value=`${user.id}`)= `${user.name} (ID: ${user.id})`
    
    hr 
    a(href=`javascript:history.back()`, style=`text-decoration:none; border: 1px solid black; padding: 5px; margin-right: 5px;`) ⮜ Voltar
    button(type=`submit`, style=`text-decoration:none; border: 1px solid black; padding: 5px;`) ✔ Submeter