extends ../layouts/app

block content
  h1 Lista de Utilizadores
  
  p
    a(href=`/users/create`, style=`border: 1px solid black; border-radius: 5px; padding: 5px 10px; text-decoration: none;`) + Novo Utilizador

  if users.length
    table(border=`1`, style=`text-align: center; justify-content: center;`)
      thead
        tr
          th ID
          th Nome
          th Email
          th Cargo
          th Dept.
          th Ações
      tbody
        each user in users
          tr
            td= user.id
            td= user.name
            td= user.email
            td= user.role
            td= user.department_name
            td
              a(href=`/users/${user.id}`, style=`text-decoration: none;`) 👁
              |  | 
              a(href=`/users/${user.id}/edit`, style=`text-decoration: none;`) ✎
              |  | 
              form(action=`/users/${user.id}?_method=DELETE`, method="POST", style="display:inline")  
                button(type="submit", onclick="return confirm('Tem a certeza que deseja eliminar este utilizador?');", style="background:none; border:none; color:blue; cursor:pointer;") ✖
  else
    p Não há utilizadores registados.