extends ../layouts/app

block content
  h1 Detalhe: #{user.name}
  
  table(border=`1`, style=`text-align: center; justify-content: center;`)
    thead
      tr
        th ID
        th Nome
        th Email
        th Role
        th Department ID
    tbody
      tr
        td= user.id
        td= user.name
        td= user.email
        td= user.role
        td= user.department_id
  
  hr
  a(href=`javascript:history.back()`, style=`text-decoration:none; border: 1px solid black; padding: 5px;`) ⮜ Voltar
  a(href=`/users/${user.id}/edit`, style=`text-decoration:none; border: 1px solid black; padding: 5px`) ✎ Editar